<div class="container-fluid">
    <div class="container-fluid bg-pink align-items-center px-4">
        <br>
        <br>
        <h1 class="text-white text-center mt-8">USER ERROR {{messageError}}</h1>
        <br>
        <br>
        <div class="align-items-center d-flex justify-content-center">
            <button class="btn btn-warning" onclick="redirect('{{messageError}}')">VOLVER</button>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<script src="error.js"></script>