<br>
<div class="container-fluid">
    <div class="container-fluid bg-gris px-4">
        <br>
        <h1 class="text-primary">Login de Usuario</h1>
        <form id="loginForm">
            <br>
            <input type="text" name="email" class="form-label" placeholder="Ingrese su email..."> 
            <br>
            <input type="password" name="password" class="form-label" placeholder="Ingrese su contraseña..."> 
            <br>
            <br>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <br>
        <hr>
        <br>
        <button class="btn btn-success" onclick="redirect()">Ir a Register</button>
        <br>
        <br>
        <br>
    </div>
</div>
<script src="login.js"></script>