<br>
<div class="container-fluid">
    <div class="container-fluid bg-gris px-4">
        <br>
        <h1 class="text-primary">Registrese</h1>
        <br>
        <form id="registerForm">
            <input type="text" name="name" class="form-label" placeholder="Ingrese nombre...">
            <br>
            <input type="text" name="email" class="form-label" placeholder="Ingrese email...">
            <br>
            <input type="password" name="password" class="form-label" placeholder="Ingrese contraseña...">
            <br>
            <br>
            <button type="submit" class="btn btn-success">Registrar</button>
        </form>
        <br>
        <hr>
        <br>
        <button class="btn btn-success" onclick="redirect()">Ir a Login</button>
        <br>
        <br>
        <br>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <br>
        <h5 class="modal-title px-4">Usuario creado</h5>
        <br>
    </div>
  </div>
</div>

<script src="register.js"></script>