.bg-gris {
    background-color: #EBEDEF;
}

.text-brown {
    color: brown;
}

.bg-green {
    background-color: #c4ead6;
}

.bg-blue {
    background-color: #7fa1e1;
}

.bg-pink {
    background-color: #f09180;
}

.mt-8 {
    margin-top:8px;
}